%h2 Edit Movie

= form_tag movie_path(@movie), :method => :put do

  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']
 
  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date

  = submit_tag 'Save Changes'
  
  -# Our Edit link from previous example:
= link_to 'Edit info', edit_movie_path(@movie)
-# This Delete link will not really be a link, but a form:
= button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'